---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Background from '../components/Background';
import Footer from '../components/Footer'
import Main from '../components/Main'
import GoodTeacherShowcase from '../sections/GoodTeacherShowcase'
---

<Layout title="ukashu dev">
	<div class="group/section">
		<Background client:load/>
		<section id="landing" class=" flex flex-col justify-between max-sm:p-0 selection:bg-offwhite selection:text-mediumgrey w-[1300px]">
			<Header client:load/>
			<Main/>
			<Footer/>
		</section>
		<section id="landing" class="group/section flex flex-col justify-between max-sm:p-0 selection:bg-offwhite selection:text-mediumgrey">
			<GoodTeacherShowcase/>
		</section>
		<section id="landing" class=" flex flex-col justify-between max-sm:p-0 selection:bg-offwhite selection:text-mediumgrey w-[1300px]">
			<Header client:load/>
			<Main/>
			<Footer/>
		</section>
	</div>	
</Layout>
<script>
window.onbeforeunload = function () {
  window.scrollTo(0, 0);
}
</script>

<style>

	section {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		min-height: 100vh;
		font-size: 20px;
		line-height: 1.6;
		scroll-snap-align: start;
		@media (min-width: 768px) {
			max-height:100vh
		}
	}
</style>