---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
---

<Layout title="ukashu dev">
	<main>
		<Header client:load/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #EBEBEB;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
