---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Background from '../components/Background';
import Footer from '../components/Footer'
import Main from '../components/Main'
---

<Layout title="ukashu dev">
	<section id="landing" class="group/section flex flex-col justify-between max-sm:p-0 selection:bg-offwhite selection:text-mediumgrey">
		<Header client:load/>
		<Background client:load/>
		<Main/>
		<Footer/>
	</section>
</Layout>

<style>
	#landing {
		margin: auto;
		padding: 1rem;
		width: 1300px;
		max-width: calc(100% - 2rem);
		min-height: 100vh;
		color: #FCFF74;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
