---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Background from '../components/Background';
import Footer from '../components/Footer'
---

<Layout title="ukashu dev">
	<section id="landing" class=" flex flex-col justify-between">
		<Header client:load/>
		<Background/>
		<main class=" flex flex-col sm:flex-row h-3/5 flex-grow justify-around items-center px-6">
			<div class=" text-center">
				<h1 class="font-bold text-5xl mb-1">
					John Doe
				</h1>
				<p>
					front-end web developer
				</p>
			</div>
			<ul class=" text-left list-disc">
				<p class="font-semibold text-2xl text-center">My projects</p>
				<li class="underline">ecommerce website</li>
				<li class="underline">musicians website</li>
				<li class="underline">goodteacher mobile app</li>
			</ul>
    </main>
		<Footer/>
	</section>
</Layout>

<style>
	#landing {
		margin: auto;
		padding: 1rem;
		width: 1300px;
		max-width: calc(100% - 2rem);
		min-height: 100vh;
		color: #FCFF74;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
