---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background';
import LandingPage from '../sections/LandingPage';
import GoodTeacherShowcase from '../sections/GoodTeacherShowcase'
import NewHomeShowcase from '../sections/NewHomeShowcase'
---

<Layout title="ukashu dev">
	<div class="group/section">
		<Background client:load/>
		<section id="landing" class=" flex flex-col justify-between max-sm:p-1 p-8 selection:bg-offwhite selection:text-mediumgrey max-w-[1300px]">
			<LandingPage client:load/>
		</section>
		<section id="gt" class="group/section flex flex-col justify-between max-sm:p-0 selection:bg-offwhite selection:text-mediumgrey max-w-[1800px]">
			<GoodTeacherShowcase/>
		</section>
		<section id="nh" class="group/section flex flex-col justify-between items-center max-sm:p-0 selection:bg-offwhite selection:text-mediumgrey">
			<NewHomeShowcase/>
		</section>
		<section id="landing" class=" flex flex-col justify-between max-sm:p-0 selection:bg-offwhite selection:text-mediumgrey max-w-[1300px]">
			<LandingPage/>
		</section>
	</div>	
</Layout>
<script>
window.onbeforeunload = function () {
  window.scrollTo(0, 0);
}
</script>

<style>


	section {
		margin: auto;
		padding: 1.5rem;
		max-width: calc(100% - 2rem);
		min-height: 100vh;
		font-size: 20px;
		line-height: 1.6;
		scroll-snap-align: start;
		animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
		overflow: hidden;
	
		@media (min-width: 768px) {
			max-height:100vh
		}
	}

	/* #down-caret {
		animation: fadeInAnimation ease 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
	} */

	@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
	}
</style>