---
import Layout from '../layouts/Layout.astro';
import ScrollIcon from '../components/ScrollIcon';
import LandingPage from '../sections/LandingPage';
import GoodTeacherShowcase from '../sections/GoodTeacherShowcase'
import NewHomeShowcase from '../sections/NewHomeShowcase'
import OtherShowcase from '../sections/OtherShowcase';
import BackgroundCheck from '../components/BackgroundCheck';
---

<Layout title="ukashu dev">
	<div class="group/section">
		<BackgroundCheck client:only/>
		<ScrollIcon client:visible/>
		<section id="landing" class=" flex flex-col justify-between max-lg:p-1 p-8 selection:bg-offwhite selection:text-mediumgrey max-w-[1300px]">
			<LandingPage client:load/>
		</section>
		<section id="gt" class="group/section flex flex-col justify-between max-lg:p-1 selection:bg-offwhite selection:text-mediumgrey max-w-[1800px]">
			<GoodTeacherShowcase client:visible/>
		</section>
		<section id="nh" class="group/section flex flex-col justify-between max-lg:p-1 selection:bg-offwhite selection:text-mediumgrey max-w-[1800px]">
			<NewHomeShowcase client:visible/>
		</section>
		<section id="other" class="group/section flex flex-col justify-between max-lg:p-1 selection:bg-offwhite selection:text-mediumgrey max-w-[1800px]">
			<OtherShowcase client:visible/>
		</section>
	</div>
</Layout>
<script>
	window.onbeforeunload = function() {
		window.scrollTo(0, 0);
	}
</script>

<style>


	section {
		margin: auto;
		padding: 1.5rem;
		max-width: calc(100% - 2rem);
		min-height: 100vh;
		font-size: 20px;
		line-height: 1.6;
		scroll-snap-align: start;
		animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
		overflow: visible;
	}

	@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
	}
</style>